<%= render partial: "articles/single_story",
           collection: @stories,
           as: :story,
           cached: ->(collection_item) { [collection_item, user_signed_in?] } %>

<% if @stories.size > 1 %>
  <div class="placeholder-div"></div>
<% end %>
<div class="single-article-small-pic" id="article-index-hidden-div" style="display:none"></div>
